body, html
  margin 0px
  font-family "Helvetica Neue", Helvetica, sans-serif 

.content
  padding 1em

ul.inline > li
  list-style-type none
  display inline-block

ul.results 
  > li
    margin 0.3em 0px
    vertical-align middle
    border-top 1px solid #666
    border-bottom 1px solid #333
  li 
    vertical-align middle
  li.track
    margin-left 1em
    width 25em
    a.track-link
      font-weight bold
  li.user 
    margin-left 1em
    > a
      color #0099cc
  .request-text
    opacity 0.6
    max-width 23em

#listening
  display none