body, html
  margin 0px
  font-family "Helvetica Neue", Helvetica, sans-serif 

.header
  width 100%
  height 80px
  background #1d1919 url(/header.png) bottom center no-repeat

.content
  padding 1em

label.for-checkbox
  cursor pointer

input[type="checkbox"]
  -webkit-appearance checkbox !important

ul.inline > li
  list-style-type none
  display inline-block

ul.results 
  > li
    margin 0.3em 0px
    vertical-align middle
    &:nth-child(odd)
      background-color: #DDD
  li 
    vertical-align middle
  li.track
    margin-left 1em
    width 25em
    a.track-link
      font-weight bold
  li.user 
    margin-left 1em
    > a
      color #0099cc
  .request-text
    opacity 0.9
    max-width 23em

#listening
  display none